<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id = "head">
        {%if userName%}
        <div class = "menu-item">
            <a href="{{logoutPage}}">{{userName}}</a>
        </div>
        <div class = "menu-item">
            Статистика оборудования
        </div>
        <div class = "menu-item">
            Обновить состояния
        </div>
        {%else%}
        <div class = "menu-item">
            <a href="{{loginPage}}">Войдите, для продолжения</a>
        </div>
        {%endif%}
    </div>

    {% block content%}  {%endblock%}

    <div id = "footer">

    </div>
</body>
</html>