{% extends "base.html" %}
{%block content%}
<div id = "main">
    {% for client in clients %}
    <div class="clients">
        <a href="/oneClient.html?id={{client.id}}">{{client.name}}</a>
        <div>Подача электричества: {{client.state.isPowerOn}}</div>
        <progress max="100" value="{{client.state.progress}}"></progress>
        <div>Обрабатываемый файл: {{client.state.fileName}}</div>

    </div>
    {% endfor %}

</div>
{%endblock%}