{% extends "base.html" %}
{%block content%}
<div id = "main">
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="" method="post">
        <p>
	    <label for="username">Username</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="password">Password</label>
	    <input type="password" name="password">
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>
</div>
{%endblock%}