#head{
    height: 35px;
    width: 100%;
    display: inline-flex;
    background-color: rgb(79, 119, 133);
}


.menu-item{
    padding: 5px;
    background-color: lightblue;
    margin: 5px;
    border-radius: 10%;
}

.menu-item:hover{
    background-color: rgb(56, 196, 243);
}

#main{
    background-color: rgb(221, 237, 241);
    width: 100%;
    height: 300px;
}
.clients{
    display: inline-flex;
}
#footer{
    height: 35px;
    width: 100%;
    display: inline-flex;
    background-color: rgb(79, 119, 133);
}

